__pycache__/
.ipynb_checkpoints/
.vscode/
.idea/
.env/

.DS_Store
Thumbs.db

*.egg-info/
.eggs/
*.pyc
*.pyo
*.pyd

*.log
*.out

.git/
.gitignore

Dockerfile*
docker-compose*.yml

*.sqlite3
*.h5
*.csv
*.tsv
*.parquet
*.json
*.xlsx

*~
*.bak
*.swp