# Password hash for JupyterLab login 
# Password hash for JupyterLab login 
JUPYTER_PASSWORD_HASH='argon2:$argon2id$v=19$m=...'

# Username and Password for flask login
USERNAME=admin
FLASK_HASHED_PASSWORD="argon2:$argon2id$v=1..."

# Absolute path to the folder on your host machine that will be mounted into the Docker container
HOST_VOLUME_PATH=C:\Users\Documents\app\

# Absolute path to the folder on your host machine which contains the Nist library (mainlib) and an empty tmp folder
MAINLIB_PATH=C:\Users\Documents\NIST20\MSSEARCH\mainlib
TEMP_DIR=C:\Users\Documents\NIST20\MSSEARCH\tmp

# Path inside the container where data will be available
DOCKER_VOLUME_PATH=/app/GCxGC_MS/DATA/

# Password for flask login
FLASK_PASSWORD=PassWord

#Only for windows: Path to the project folder
PROJECT_PATH=C:\Users\Documents/Python-2DGC-Alignment

#Only for windows: Path to the Docker Desktop.exe
DOCKER_DESKTOP_PATH=C:\Program Files\Docker\Docker\Docker Desktop.exe

# Only for windows: Path to your venv if you want to use it
VENV_PATH=C:\Users\Documents\venv


IP_SERVER=1x.1xx.1x.1xx